
/* overflow:hidden prevent sticky nav to stick. Solution can be "contain: paint;" */
/* .v-application{
  contain: paint;
} */

.v-sheet{
  overflow: hidden !important;
}

.theme--light.v-sheet:not(.backgrounded),
.theme--light.v-app-bar.v-toolbar.v-sheet
.theme--light.v-application{
  background-color: transparent !important;
}

.v-application{
  background-image: url(../static/lines/HomeLine.svg) !important;
  background-size: cover !important;
}

.backgrounded {
    background-color: #ffffff !important;
}

*{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/;
}

.selectable-text, input, textarea, .description{
  -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Safari */
     -khtml-user-select: text; /* Konqueror HTML */
       -moz-user-select: text; /* Old versions of Firefox */
        -ms-user-select: text; /* Internet Explorer/Edge */
            user-select: text; /* Non-prefixed version, currently*/
}

h1{
  font-family: 'Yeseva One';
  font-size: 45px;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

h2{
  font-family: 'Yeseva One';
  font-size: 52pt;
}

h3{
  font-family: 'Yeseva One';
  font-size: 21pt;
}

p{
  font-family: 'Montserrat';
  font-size: 12px;
  letter-spacing: 1px;
  max-width: 900px;
}

.small .classic-title{
  font-size: 30px;
}
.xsmall .classic-title{
  line-height: 1;
  font-size: 22px;
}

.classic-text{
  font-family: 'Montserrat';
  font-size: 19pt;
}

.bold-text{
  font-family: 'Montserrat';
  font-size: 19pt;
  font-weight: bold;
}

.Montserrat--text{
  font-family: 'Montserrat';
}

.Yeseva--text{
  font-family: 'Yeseva One';
}

.cursor{
  cursor: pointer;
}

.centering{
  display: flex;
  justify-content: center;
  align-items: center;
}

.centering-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 601px) {

  .mobile{
    display: none !important;
  }
}



/* .desktop{
  display: initial !important;
} */

@media (max-width: 600px) {
  /* .mobile{
    display: initial !important;
  } */
  .desktop{
    display: none !important;
  }
}

@media (max-width: 1265px) {
  .mediumScreen{
    display: none !important;
  }
}

@media (max-width: 920px) {
  .hideOn920{
    display: none !important;
  }
}