.theme--light.v-sheet:not(.backgrounded),
.theme--light.v-app-bar.v-toolbar.v-sheet
.theme--light.v-application{
  background-color: transparent !important;
}

#app{
  background-image: url(../static/lines/HomeLine.svg) !important;
  background-size: cover;
}

.backgrounded {
    background-color: #ffffff !important;
    transition: 0s;
}

*{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/;
}

.selectable-text, input, textarea, .description{
  -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Safari */
     -khtml-user-select: text; /* Konqueror HTML */
       -moz-user-select: text; /* Old versions of Firefox */
        -ms-user-select: text; /* Internet Explorer/Edge */
            user-select: text; /* Non-prefixed version, currently*/
}

h1{
  font-family: 'Yeseva One';
  font-size: 40px;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

h2{
  font-family: 'Yeseva One';
  font-size: 52pt;
}

h3{
  font-family: 'Yeseva One';
  font-size: 21pt;
}

p{
  font-family: 'Montserrat';
  font-size: 12px;
  letter-spacing: 1px;
  max-width: 900px;
}

.classic-text{
  font-family: 'Montserrat';
  font-size: 19pt;
}

.bold-text{
  font-family: 'Montserrat';
  font-size: 19pt;
  font-weight: bold;
}

.Montserrat--text{
  font-family: 'Montserrat';
}

.cursor{
  cursor: pointer;
}

.centering{
  display: flex;
  justify-content: center;
  align-items: center;
}

.centering-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile{
  display: none;
}

.desktop{
  display: initial;
}

@media (max-width: 600px) {
  .mobile{
    display: initial;
  }
  .desktop{
    display: none;
  }
}

@media (max-width: 1265px) {
  .medium{
    display: none;
  }

}